.window {
    width: 608px;
    height: 453px;
    border-radius: 12px;
    border: 1px solid #E6E8E6;
    background: #333;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

  }

.title {
    color: #E6E8E6;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.social {
    display: flex;
    width: 300px;
    height: 54px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08), 0px 2px 3px 0px rgba(0, 0, 0, 0.17);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 27px;
    flex-shrink: 0;
}
  